<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bookmark.css">

</head>
<body>
<div class="bookmark_div">
    <div class="course1">
        <img src="../img/image1.png" alt="image1_btn" class="image1_btn">
        <div class="course1_txt">
            <div class="image1_h_div">
                <p class="image1_h_1">#여의도</p>
                <p class="image1_h_2">#데이트코스</p>
            </div>
            <div class="image1_course">
                <div class="c1_place1">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse1_btn">
                    <p class="image1_c_1">더현대서울</p>
                </div>
                <div class="c1_place2">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse2_btn">
                    <p class="image1_c_2">후라토식당</p>
                </div>
                <div class="c1_place3">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse3_btn">
                    <p class="image1_c_3">여의도한강공원</p>
                </div>
            </div>
        </div>
    </div>
    <div class="course2">
        <img src="../img/image2.png" alt="image2_btn" class="image2_btn">
        <div class="course2_txt">
            <div class="image2_h_div">
                <p class="image2_h_1">#여의도</p>
                <p class="image2_h_2">#데이트코스</p>
            </div>
            <div class="image2_course">
                <div class="c2_place1">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse1_btn">
                    <p class="image2_c_1">더현대서울</p>
                </div>
                <div class="c2_place2">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse2_btn">
                    <p class="image2_c_2">후라토식당</p>
                </div>
                <div class="c2_place3">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse3_btn">
                    <p class="image2_c_3">여의도한강공원</p>
                </div>
            </div>
        </div>
    </div>
    <div class="course3">
        <img src="../img/image3.png" alt="image3_btn" class="image3_btn">
        <div class="course3_txt">
            <div class="image3_h_div">
                <p class="image3_h_1">#여의도</p>
                <p class="image3_h_2">#데이트코스</p>
            </div>
            <div class="image3_course">
                <div class="c3_place1">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse1_btn">
                    <p class="image3_c_1">더현대서울</p>
                </div>
                <div class="c3_place2">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse2_btn">
                    <p class="image3_c_2">후라토식당</p>
                </div>
                <div class="c3_place3">
                    <img src="../img/ellipse.png" alt="ellipse_btn" class="ellipse3_btn">
                    <p class="image3_c_3">여의도한강공원</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
