<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=844u6wo0hm"></script>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <script src="../js/navbar.js"></script>
    <script src="../js/navermap.js"></script>
    <title>로그인</title>
</head>
<body>
<div class="body_div">
    <div nav-include-path="../templates/navbar.html">
        <script>LoadNAVBAR();</script>
    </div>

    <div class="login_div">
        <img src="../img/profile.png" alt="profile_btn" class="profile_btn">
        <p class="login_txt">로그인 후 이용하여 주세요!</p>
        <img src="../img/kakao.png" alt="kakao_btn" class="kakao_btn">
    </div>

    <div id="navermap_div"></div>
</div>

</body>

