<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
<footer class="footerbar">
    <div class = "navbar_">
        <div class="mark_div">
            <img src="../img/mark.png" alt="mark_btn" class="mark_btn">
        </div>
        <div class="search_box">
            <input type="text" class="search_txt" name="" placeholder="랜드마크를 입력하세요">
            <img src="../img/search.png" alt="search_btn" class="search_btn"></img>
        </div>
    </div>
    <div class="footer_menus">
        <div class="landmark_div">
            <a href="./landmark.html" style="line-height: 0;">
                <img src="../img/landmark.png" alt="landmark_btn" class="landmark_btn"></img>
                <p class="landmark_menus">랜드마크별</p>
            </a>
        </div>
        <div class="course_div">
            <a href="./course.html" style="line-height: 0;">
                <img src="../img/course.png" alt="course_btn" class="course_btn">
                <p class="course_menus">코스별</p>
            </a>
        </div>
        <div class="bookmark_div">
            <a href="./mypage.html" style="line-height: 0;">
                <img src="../img/bookmark.png" alt="bookmark_btn" class="bookmark_btn">
                <p class="bookmark_menus">책갈피</p>
            </a>
        </div>
        <div class="my_div">
            <a href="./mypage.html" style="line-height: 0;" >
                <img src="../img/profile.png" alt="mypage_btn" class="mypage_btn">
                <p class="mypage_menus">MY</p>
            </a>
        </div>
    </div>
</footer>
</body>
</html>