<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/theme.css">

</head>
<body>
<div class="theme_div">
    <div class="theme1">
        <img src="../img/image1.png" alt="image1_btn" class="image1_btn">
        <div class="theme_txt1">
            <p class="txt1_1">#오늘은</p>
            <p class="txt1_2">여의도</p>
            <p class="txt1_3">에서!!</p>
        </div>
    </div>
    <div class="theme2">
        <img src="../img/image4.png" alt="image4_btn" class="image4_btn">
        <div class="theme_txt2">
            <p class="txt2_1">#한복입고</p>
            <p class="txt2_2">경복궁</p>
            <p class="txt2_3">나들이</p>
        </div>
    </div>
    <div class="theme3">
        <img src="../img/image5.png" alt="image5_btn" class="image5_btn">
        <div class="theme_txt3">
            <p class="txt3_1">#오늘의</p>
            <p class="txt3_2">잠실야구장</p>
            <p class="txt3_3">승요는당신!</p>
        </div>
    </div>
</div>
</body>