@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#fontDiv{
    font-family: 'MangoDdobak-B' ;
}


.body_div {
    display: flex;
    width: 100%;
    height: 100%;
}

.login_div{
    font-family: MangoDdobak-B;
    background-color: white;
    width: 260px;
    height: 740px;
    display : flex;
    flex-direction: column;
    align-items: center;

}

.profile_btn{
    width: 70px;
    height: 70px;
    margin-top: 200px;
    margin-botton: 80px;

}

.login_txt{
    font-size: 13px;
    color: #FEA410;
}
.kakao_btn{
    width : 200px;
    height: 30.45px;
    cursor: grab;
}

#navermap_div{
    display: flex;
    padding: 0px;
    width: 100%;
    height: 740px;
}