@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'MangoDdobak-B', sans-serif;
}

p {
    margin: 0;
}
.body_div {
    display: flex;
    width: 100%;
    height: 100%;
}

.place_div {
    background-color: white;
    width: 530px;
    margin-left: 30px;
}

.place_top{
    display: flex;
}
.search_box{
    font-family: MangoDdobak-B;
    border: 2px solid #FEA410;
    display: flex;
    margin-top : 20px;
    margin-bottom: 20px;
    background: #FFFCDD;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 25px;
    padding: 5px 10px;
}

.search_btn{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 5px;
}

.search_txt{
    font-family: MangoDdobak-B;
    background : none;
    border:none;
    outline:none;
}

.image_h_1, .image_h_2{
    margin-bottom: 5px;
    font-size: 15px;
}

.image_h_div{
    display: flex;
    flex-direction: column;
}

.c_place1, .c_place2, .c_place3{
    display: flex;
}

.image1_btn{
    margin-right: 20px;
    margin-bottom: 40px;
}

.image_c_1, .image_c_2, .image_c_3{
    font-size: 14px;
    color: #FEA410;
    margin-bottom: 5px;
}

.image_c_1a, .image_c_2a, .image_c_3a{
    font-size: 13px;
    color: #3a3a3a;
    margin-bottom: 5px;
}

.image_c_txt1, .image_c_txt2, .image_c_txt3{
    margin-bottom: 10px;
}

.ellipse1_btn, .ellipse2_btn, .ellipse3_btn{
    width:5px;
    height: 5px;
    margin-right: 10px;
    margin-top:5px;
}

.image1_btn{
    width: 200px;
    height: 132.81px;
}